<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="picpay_standard" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>PicPay</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Checkout Mode</label>
                    <source_model>\Picpay\Payment\Model\Source\Mode</source_model>
                </field>
                <field id="iframe_width" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Iframe width on iframe Mode</label>
                    <depends>
                        <field id="*/*/mode">2</field>
                    </depends>
                    <comment>In pixels. Just numbers.</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="iframe_height" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Iframe height on iframe Mode</label>
                    <depends>
                        <field id="*/*/mode">2</field>
                    </depends>
                    <comment>In pixels. Just numbers.</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="iframe_message" translate="label comment" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Iframe callback message after paid</label>
                    <depends>
                        <field id="*/*/mode">2</field>
                    </depends>
                    <comment>Accept html. The extension has a default message on checkout.</comment>
                </field>
                <field id="onpage_width" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Qrcode width on Onpage Mode</label>
                    <depends>
                        <field id="*/*/mode">1</field>
                    </depends>
                    <comment>In pixels. Just numbers.</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="onpage_message" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Message to show with qrcode on success page</label>
                    <depends>
                        <field id="*/*/mode">1</field>
                    </depends>
                </field>
                <field id="qrcode_info_width" translate="label comment" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Qrcode width on info payments</label>
                    <comment>In pixels. Just numbers.</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="token" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>API Picpay Token</label>
                </field>
                <field id="seller_token" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>API Seller Token</label>
                </field>
                <field id="days_to_expires" translate="label" type="text" sortOrder="115" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Days to expires</label>
                    <comment>Days to expires the transaction. Just numbers.</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="order_status" translate="label comment" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Status for new orders</label>
                    <comment>
                        Status given to newly created orders before payment result confirmation via server notifications.
                    </comment>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>
                <field id="use_custom_form" translate="label comment" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Use custom form</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable with want build a custom HTML form in Checkout</comment>
                </field>
                <field id="custom_form_html" translate="label" type="textarea" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Custom html form</label>
                    <depends>
                        <field id="*/*/use_custom_form">1</field>
                    </depends>
                </field>

                <!--<field id="customer_cpf_attribute" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">-->
                    <!--<label>Customer document attribute</label>-->
                    <!--<source_model>\Picpay\Payment\Model\Source\Customer\Taxvat</source_model>-->
                    <!--<comment>If your store use a customer ID custom ttribute, select here.</comment>-->
                <!--</field>-->

                <!--<field id="address_telephone_attribute" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">-->
                    <!--<label>Customer telephone attribute</label>-->
                    <!--<source_model>\Picpay\Payment\Model\Source\Customer\Address</source_model>-->
                    <!--<comment>If your store use a custom telephone attribute, select here.</comment>-->
                <!--</field>-->

                <field id="notification" translate="label" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable status order notification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="allowspecific" translate="label comment" type="select" sortOrder="600"
                       showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment from applicable countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <comment>If set to specific, guest customers will not have a billing country and may not be able to checkout.</comment>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="610"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Payment from Specific countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="*/*/allowspecific">1</field>
                    </depends>
                </field>

                <field id="debug" translate="label" type="select" sortOrder="530" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable debug logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
