<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="picpay" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label">
                <label>PicPay</label>
                <include path="Picpay_Payment::system/general.xml"/>
                <include path="Picpay_Payment::system/layout.xml"/>
            </group>
        </section>
    </system>
</config>
